<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" >
</head>
<body>
    <h1>Hello,{{user.username}}</h1>
    <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/>
    <br>
	<div class="pure-menu pure-menu-horizontal">
		<a href="/login" class="pure-menu-link pure-menu-item">Login</a>
		<a href="/register" class="pure-menu-link pure-menu-item">Register</a>
		<a href="/todo/index" class="pure-menu-link pure-menu-item">Todo</a>
	</div>
</body>
</html>